html {
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
}

body {
    background-repeat: no-repeat;
    background-size: cover;  
}

.city-form{
    align-items: center;
}

.rainy {
    background: white;
}

.fa-snowflake {
    color: white;
    animation: fall 5s linear forwards;
    position: absolute;
    top: -15px;
}

#hide {
    visibility: visible;
}

.list-group-item {
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}
