html {
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Grandstander', cursive;
    color: turquoise;
    text-shadow: -3px 0 black, 0 2px black, 2px 0 black, 0 -3px black;
}

.title {
    display: flex;
    justify-content: center;
}

body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
}

.cloudPic {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.city-form{
    align-items: center;
}

.rainy {
    background: white;
}

.fa-snowflake {
    color: white;
    animation: fall 5s linear forwards;
    position: absolute;
    top: -15px;
}

#hide {
    visibility: visible;
}

.list-group-item {
    font-size: 45px;
    color: black;
    text-shadow: none;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}
